<div class="main-wrapper" style = "display:flex;justify-content: space-between;">
    <div style="display:inline-flex">
    <h1><strong>{{userHeading}}</strong></h1>
    </div>
    <div  style="display:inline-flex; ">
        <button type="button" class="btn btn-primary" routerLink="/">Home</button>
    </div>   
</div>
<div class = "content-wrapper">
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Gender</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Designation</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
      
      </form>
</div>